
@{
    ViewData["Title"] = "Index";
    @*-Layout = "~/Views/Home/Index.cshtml";*@
}

<h2>Exemplos de Action</h2>

@* Tag Helpers -> Novo conceito do ASP.NET CORE *@

<ul>
    <li> <a asp-controller="Home" asp-action="Arquivo"> Visualizar PDF </a> </li>
    <li> <a asp-controller="Home" asp-action="Resultado"> Visualizar resultados ViewData/ViewBag</a></li>
</ul>


@* HTML Helpers -> Conceito já usado no ASP.NET MVC*@

<ul>
    <li> @Html.ActionLink("Visualizar PDF", "Arquivo", "Home") </li>
    <li> @Html.ActionLink("Visualizar resultados ViewData/ViewBag", "Resultado")</li>
    <li> <a asp-controller="Home" asp-action="IncluirProduto01"> Formulário de Produtos </a> </li>
    <li> <a asp-controller="Home" asp-action="Calculadora"> Calculadora </a> </li>
    <li> <a asp-controller="Home" asp-action="ExibirProduto"> Exibir Produto </a> </li>
</ul>



