
@{
    ViewData["Title"] = "Resultado";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resultado</title>
</head>
<body>
    <h2> Informações do Action</h2>

    <p> @ViewData["valor1"]</p>
    <p> @ViewBag.Mensagem</p>
</body>
</html>
